<div class="top">
<form action="/cgi-bin/post_teamk.py" method="post">
  <div class = "square_box">
    <div class="cp_iptxt">
      <input type="text" id="task" name="task" placeholder="task">
    </div>
    <div class="cp_iptxt">
      <input type="date" id="birthday" name="birthday" placeholder="birthday"/>
    </div>
    <div class="cp_iptxt">
      <input type="text" id="mailaddress" name="mailaddress" placeholder="mailaddress"/>
    </div>
    <div class="cp_iptxt">
      <input type="date" id="date" name="created_at" placeholder="created_at"/>
    </div>  
  <div>
  <div>
        <button id ="データ登録">Submit</button>
  </div>
</form>
</div>